<div class="row">
  <div class="col-xs-4 col-xs-offset-4 loginBox">

    <h2>LOGIN</h2>

    <p 
      *ngIf="invalidCredentials" 
      class="help-block"
      [ngStyle]="{textAlign: 'center'}"
      #invalidText
      >
      Invalid Email or Password!
    </p>

    <form (ngSubmit)="onLogin(f)" #f="ngForm">

        <div class="row">
          <label for="email">Email</label>
          <input 
            type="text" 
            id="email"
            name="email" 
            ngModel
            class="form-control" 
            required
            email
            (keydown)="updateInvalidStatus()"
            #email="ngModel">
          <p 
            *ngIf="!email.valid && email.touched"
            class="help-block">
            *Please enter a valid Email.
          </p>
        </div>

        <div class="row">
          <label for="password">Password</label>
          <input 
            type="password" 
            id="password" 
            class="form-control" 
            name="password"
            ngModel
            required
            (keydown)="updateInvalidStatus()"
            #password="ngModel">
          <p 
            *ngIf="!password.valid && password.touched"
            class="help-block">
            *Please enter a Password.
          </p>
        </div>

        <div class="row">
          <div class="col-xs-4 col-xs-offset-4">
            <button type="submit" [disabled]="!f.valid" class="btn btn-success">Login</button>
          </div>
        </div>

    </form>

    <p class="register-help">Not yet registered? <a [routerLink]="['/register']">Click here</a> to register.</p>

  </div>
</div>
